In [83]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.metrics import r2_score
import joblib

In [84]:
from urllib.request import urlretrieve
urlretrieve('https://raw.githubusercontent.com/itsahyarr/aimastery-doc/main/datasets/weight-height.csv', 'weight-height.csv')

('weight-height.csv', <http.client.HTTPMessage at 0x23e4cf903d0>)

In [85]:
df = pd.read_csv("weight-height.csv")

In [86]:
df.head()

  Gender     Height      Weight
0   Male  73.847017  241.893563
1   Male  68.781904  162.310473
2   Male  74.110105  212.740856
3   Male  71.730978  220.042470
4   Male  69.881796  206.349801

In [87]:
df.rename(columns={'Height':'Weight','Weight':'Height'}, inplace=True) # Swapping height and weight column
df = df[['Weight','Height','Gender']]
df

         Weight      Height  Gender
0     73.847017  241.893563    Male
1     68.781904  162.310473    Male
2     74.110105  212.740856    Male
3     71.730978  220.042470    Male
4     69.881796  206.349801    Male
...         ...         ...     ...
9995  66.172652  136.777454  Female
9996  67.067155  170.867906  Female
9997  63.867992  128.475319  Female
9998  69.034243  163.852461  Female
9999  61.944246  113.649103  Female

[10000 rows x 3 columns]

In [88]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Weight  10000 non-null  float64
 1   Height  10000 non-null  float64
 2   Gender  10000 non-null  object
dtypes: float64(2), object(1)
memory usage: 234.5+ KB

In [89]:
le = LabelEncoder()
le.fit(df['Gender'])
df['Gender'] = le.transform(df['Gender'])

In [90]:
df

         Weight      Height  Gender
0     73.847017  241.893563       1
1     68.781904  162.310473       1
2     74.110105  212.740856       1
3     71.730978  220.042470       1
4     69.881796  206.349801       1
...         ...         ...     ...
9995  66.172652  136.777454       0
9996  67.067155  170.867906       0
9997  63.867992  128.475319       0
9998  69.034243  163.852461       0
9999  61.944246  113.649103       0

[10000 rows x 3 columns]

In [91]:
df.groupby('Gender').mean()

           Weight      Height
Gender
0       63.708774  135.860093
1       69.026346  187.020621

In [92]:
X = df[["Gender", "Height"]]
X

      Gender      Height
0          1  241.893563
1          1  162.310473
2          1  212.740856
3          1  220.042470
4          1  206.349801
...      ...         ...
9995       0  136.777454
9996       0  170.867906
9997       0  128.475319
9998       0  163.852461
9999       0  113.649103

[10000 rows x 2 columns]

In [93]:
# Round and coverting weight & height to integer
df.round({
    'Weight':0,
    'Height':0
}).astype(int)

      Weight  Height  Gender
0         74     242       1
1         69     162       1
2         74     213       1
3         72     220       1
4         70     206       1
...      ...     ...     ...
9995      66     137       0
9996      67     171       0
9997      64     128       0
9998      69     164       0
9999      62     114       0

[10000 rows x 3 columns]

In [94]:
predict = "Weight"

In [95]:
X = np.array(df.drop(labels=predict, axis=1)) # Axis=1 -> column
y = np.array(df[predict])

In [96]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1)
lr = LinearRegression()
model = lr.fit(X_train, y_train)

In [97]:
print(f"Akurasi Model: {accuracy * 100}%")

Akurasi Model: 85.64612157889509%

In [99]:
joblib.dump(model, 'weight-predict.joblib')

['weight-predict.joblib']

In [100]:
['weight-predict.joblib']
# Testing model
mod = joblib.load('weight-predict.joblib')
prediction = mod.predict(X_test)
for x in range(100):
  print(prediction[x],'||',y_test[x])

70.82567941694545 || 70.4189573442233
71.12379005216424 || 73.1879491114706
66.88905216870624 || 69.4285574073058
68.63164651998378 || 68.4457467280668
62.71548537592761 || 61.7645093762568
63.02542659413401 || 64.4309328307492
62.6990789562762 || 62.4269612065783
71.4035828870734 || 71.3270010663305
69.69654573706819 || 69.576571845724
64.48835006693776 || 64.42841794434
63.054524434846996 || 63.132339355837
69.7582250424844 || 71.1879114486
65.4122566209552 || 66.5294933495484
61.99344473250439 || 59.8601233557773
68.82356054357442 || 65.1928622148426
69.07812727116732 || 67.6971036455845
63.76995566253121 || 63.7454886542419
74.63839150792774 || 73.166638105566
67.73371452146486 || 66.915285627757
60.86331206939955 || 60.9946387314652
73.96591947239492 || 75.8501122218929
63.56947695348637 || 60.8929255610217
68.95414192580128 || 68.4857245400115
65.75935097867342 || 66.6445262797493
67.99819537292436 || 67.4793517580411
64.38696818245454 || 65.3060946626047
60.852759338004866 || 58.777124253358
68.00352743155479 || 67.067154649054
62.34221259774962 || 60.41475050224
65.55614248354432 || 67.1568192775879
68.61495068843125 || 68.5081861509006
70.1248969616598 || 70.9985462096108
69.68936870338152 || 68.784717006336
67.65730479946974 || 68.7865740167745
73.15444971264428 || 73.1262671878997
71.41670827921169 || 73.6215439658806
69.37059296717649 || 69.8235038816249
68.20071978270705 || 67.5335403786495
67.35949013662153 || 66.2451658543593
63.82444200867696 || 64.0888584285991
72.33485512202434 || 71.5600187424886
60.671085595230885 || 62.6701568243573
66.20856255750473 || 66.341333745267
68.19928322344302 || 68.4231670839035
63.47504020069317 || 63.0607350477948
67.72063894710926 || 69.064130558356
63.137113115444706 || 59.8745007044387
67.88888978416868 || 64.9950782592052
68.65165997636389 || 68.4589107358197
61.223085125127106 || 61.7576643020811
68.66129502433881 || 70.2327259474281
67.41806724113025 || 68.7206084483133
59.562567797977295 || 59.3215326801004
60.77959814474084 || 62.3277807945213
73.08983099474511 || 72.0566449899634
72.65519228641247 || 72.6104688843883
69.63278807530874 || 66.429741469109
69.17614332110746 || 67.684325532839
67.66842146227907 || 67.018949662883
69.4546955225656 || 68.0780274880187
61.624106628562075 || 63.2798351650377
67.8517455156477 || 69.2476969140613
64.14463402232718 || 64.0683620999564
62.681129298102434 || 61.9377144672642
71.09399990058306 || 71.0179478649994
62.823560148122084 || 64.3413604760312
66.22663769085581 || 63.9902528989022
64.31282575806505 || 64.5877950681436
69.30913187974089 || 71.2689307374579
62.10180986782838 || 61.6943371258118
66.97302927787044 || 69.9094619536732
65.60500421912766 || 65.1029348660786
68.95887564728078 || 69.9648106258336
64.74469262548604 || 64.5792892535986
68.50761925493859 || 68.6111164962452
60.41955027696851 || 62.7842763453096
61.19855513093992 || 62.0601992542499
63.62997859398149 || 64.9787306768798
66.40416712693649 || 66.4006388658354
69.304766711795 || 70.2534009734233
66.08885379049579 || 65.5647207551733
73.17958647445073 || 72.6956241876436
64.84103976260107 || 67.1398891848124
68.33018533207216 || 72.69525855305
61.82824311860556 || 61.0752102778519
65.12086056926456 || 66.1836345632456
69.05653623781615 || 70.3341357383126
72.2233053431545 || 74.633827265613
72.22781671696364 || 71.6712553012472
72.3448567976663 || 71.233911393331
58.17505882646928 || 58.8616250965517
68.63503028646247 || 67.1935232827228
67.1544917063157 || 70.3611186287561
63.48213013656192 || 65.7762942574566
66.39168933487787 || 66.1148750605703
59.404262102017995 || 60.1495587711234
63.11761676064568 || 63.9132602193041
65.25726341900511 || 65.8161228106243
64.37718640879166 || 66.2643659171894
71.8915640763037 || 72.4107267625413

In [101]:
std_scaler = StandardScaler()

joblib.dump((model, std_scaler), "Weight-Predictions-using-linear-regression.pkl")

['Weight-Predictions-using-linear-regression.pkl']